<!DOCTYPE html>

<title>Hello LandingController!</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/landing.css') }}">
{% endblock %}

{% block body %}

<div>
    <nav class="nav-wrapper">
        <ul>
           <li>Home</li>
           <li>Post</li>
        </ul>
    </nav>
    <div class="landing-wrapper">
       <div class="card">
           <div class="card-body">
               <div class="form">

                   {% block form_errors %}
                       <div class="error">
                           <span>error</span>
                       </div>
                   {% endblock %}

                   {{ form_start(blogForm) }}
                       {{ form_row(blogForm.title) }}
                       {{ form_row(blogForm.content) }}
                       {{ form_row(blogForm.date) }}
                       {{ form_row(blogForm.submit, { 'label': 'Submit' }) }}
                   {{ form_end(blogForm) }}
               </div>
           </div>
        </div>
        <div class="table">
           {% if blog_posts.error %}
               <div>
                   <div class="error-message">
                       <span>{{ blog_posts.error }}</span>
                   </div>
               </div>
           {% else %}
               <table>
                   <tr>
                       <th>Title</th>
                       <th>Content</th>
                       <th>Date-posted</th>
                   </tr>
                   <tr>
                       <td>{{ blog_posts.title }}</td>
                       <td>{{ blog_posts.content }}</td>
                       <td>{{ blog_posts.date }}/td>
                   </tr>
               </table>
           {% endif%}

        </div>
    </div>
</div>

{% endblock %}
