<!DOCTYPE html>

<title>Hello LandingController!</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}

<div>
    <nav class="nav-wrapper">
        <ul>
           <li>Home</li>
           <li>Post</li>
        </ul>
    </nav>
    <div class="landing-wrapper">
       <div class="card">
           <div class="card-body">
               <div class="form">
                   {{ form_start(blogForm) }}
                       {{ form_row(blogForm.title) }}
                       {{ form_row(blogForm.content) }}
                       {{ form_row(blogForm.date) }}
                       {{ form_row(blogForm.submit, { 'label': 'Submit' }) }}
                   {{ form_end(blogForm) }}
               </div>
           </div>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Date-posted</th>
                </tr>
                <tr>
                    <td>{{ blog_posts.title }}</td>
                    <td>{{ blog_posts.content }}</td>
                    <td>{{ blog_posts.date }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
